*,*::before,*::after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	font-weight: inherit;
	font-size: inherit;
}
ul li{
	list-style: none;

}
a,button,label{
	text-decoration: none;
	cursor: pointer;
	font-family: inherit;
}
html,body{
	height: 100%;
	font-family: Montserrat;
	color: #252b42;
	font-size: 16px;
}
.container{
	max-width: 1060px;
	padding: 0px 15px;
	margin: 0px auto;
}
.title{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.4;
	color: #690EA1;
}
.text{
	font-size: 22px;
	color: #10697d;
	text-align: center;
}
@media (max-width: 760px) {
	.text{
		font-size: 20px;
	}
}
@media (max-width:660px ) {
	.title{
		font-size: 26px;
		font-weight: 600;
	}
	.text{
		font-size: 18px;
	}
}
@media (max-width: 500px) {
	.text{
		font-size: 16px;
	}
}
@media (max-width: 360px) {
	.title{
		font-size: 22px;
		font-weight: 500;
	}
}
body{
	display: flex;
	flex-direction: column;
}
/*--------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 110px;
	align-items: center;
}
.header__logo {
	height: 70px;
	margin: 10px 0px;
}
.header__burger{
	display: none;
}
.header__menu {
	margin-left: 100px;
	padding: 5px 0px;
}
@media (max-width: 992px) {
	.header__menu{
		margin-left: 80px;
	}
}
@media (max-width: 767px){
	.header__menu{
		margin-left: 40px;
	}
}
.header__menu-list {
	display: flex;
	flex-wrap: wrap;
}
.header__menu-iten {
	margin: 0 21px 0 0;
}
.header__menu-link {
	color: #10697d;
	line-height: 1.7;
	transition: all 0.5s ease 0s;
}
.header__menu-link:hover{
    text-decoration: underline;
}
.header__menu-link:focus{
	color:#690EA1 ;
}
@media (max-width: 730px) {
   .header__burger{
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 20px;
    z-index: 3;
 }
 .header__burger span{
    display: block;
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
}
 .header__burger::before,
 .header__burger::after{
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
 } 
 .header__burger::before{
    top: 0;
 } 
 .header__burger::after{
    bottom: 0;
 }
 .header__burger.active span{
    transform: scale(0);
 }
 .header__burger.active::before{
    transform: rotate(45deg);
    top: 9px;
 }
  .header__burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
 }
  .header__menu{
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(25,140,119);
    padding: 70px 0px 0px 0px;
    transition: all 0.3s ease 0s;
    overflow: auto;
    margin-left: 0;
 }
 .header__menu.active{
    top: 0;
 }

 .header__menu-list{
    display: block;
    padding: 0; 
    text-align: center;
 } 
 .header__menu-iten{
 	display: block;
 	margin:0px 0px 60px 0px;
 }
  .header__menu-link{
 	color: #fff;
 	font-size: 30px;
 	font-weight: 400;
 }
}
@media (max-width: 450px) {
	.header__menu{
    height: 100vh;
	}
}
/*-------------------*/
main{
	flex: 1 1 auto;
}
.main-block{
	position: relative;
	height: 100vh;
}
.main-block__image{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.main-block__container{
	padding: 185px 0px 0px 0px;
	position: relative;
	z-index: 2;
}
.main-block__title{
	font-size: 58px;
	line-height: 1.4;
	font-weight: 800;
}
.main-block__text{
	color: #10697d;
	font-size: 25px;
	line-height: 1.5;
	margin: 35px 30% 0px 20px;
}
.main-block__buttons{
	display: inline-flex;
	margin: 35px 0px 0px 20px;
}
.main-block__button{
	background: #10697d;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 48px;
	padding: 5px 36px;
	margin: 35px 10px 0px 10px;
	font-size: 20px;
	color: #fff;
	border: 1px solid #10697d;
	transition: all 0.5s ease 0s;
}
.main-block__button:hover{
	background: #fff;
	color: #10697d;
}

@media (max-width: 695px) {
	.main-block__container{
		padding: 160px 0px 0px 0px;
	}
	.main-block__buttons{
		display: flex;
		flex-wrap: wrap;
	}
	.main-block__title{
		font-size: 48px;
		font-weight: 700;
	}
	.main-block__text{
		font-size: 22px;
	}
}
@media (max-width: 555px) {
	.main-block__title{
		font-size: 52px;
		font-weight: 700;
	}
	.main-block__container{
		padding: 100px 0px 0px 0px;
	}
	.main-block__text{
		font-size: 18px;
		margin: 30px 20px 0px 20px;
	}
}


/*--------------------------*/
.specialists {
    padding: 100px 0px 5px 0px;
}
.specialists__img {
	margin-top: 40px;
	width: 100%;
	object-fit: cover;
}
.specialists__text{
	margin: 0px 20px;
}
@media (max-width: 1026px) {
	.specialists__text{
		margin: 0px 10px;
	}
}

/*----------------------*/
.equipment{
	padding: 100px 0px 0px 0px;
}
.equipment__text{
	margin: 0 20px 40px 20px;
}
.slider{
	position: relative;
	background: #82C989 ;
	height: 260px;

}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 40px;
	height: 40px;
	margin: -40px 0px 0px 0px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('images/arrow-next.png') 0 0 / 100% no-repeat;
	transform: rotate(180deg);
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('images/arrow-next.png') 0 0 /100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}
.slider__item{
	height: 200px;
	width: 200px;
	align-items: flex-end;
    padding: 10px;
}
.slider__item img{
	
	width: 100%;
	height: 100%;
	
	object-fit: cover;
}
.slick-slider{
	padding: 0 60px;
}
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
	align-items: center;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.sliderbig__item{
	height: 300px;
}
.sliderbig{
	margin-top: 20px;
}
.sliderbig__item{
	text-align: center;
}
.sliderbig .slick-track{
	display: block;
}
/*---------------------------------*/

.yarn{
	padding: 100px 0px 5px 0px;
}
.yarn__text{
	margin: 0 20px 40px 20px;
}
.yarn__button{
	background: #10697d;
	border-radius: 15px;
	text-align: center;
	min-height: 45px;
	padding: 10px 36px;
	margin: 35px auto;
	font-size: 20px;
	width: 200px;
	border: 1px solid #10697d;
    transition: all 0.5s ease 0s;
}
.yarn__button:hover{
	background:#fff;
	transition: all 0.5s ease 0s;
}
.yarn__button-link{
	color: #fff;

}
.yarn__button:hover .yarn__button-link{
	color:#10697d ;
}
@media (max-width: 1130px) {
	.specialists,.equipment,.yarn{
		padding: 80px 0px 5px 0px;
	}
}
@media (max-width: 1026px) {
	.equipment__text,.yarn__text{
		margin: 0px 10px 40px 10px;
	}
}
@media (max-width: 1000px) {
	.specialists,.equipment,.yarn{
		padding: 50px 0px 5px 0px;
	}
}
@media (max-width: 800px) {
	.specialists,.equipment,.yarn{
		padding: 30px 0px 5px 0px;
	}
}
@media (max-width: 520px) {
		.equipment__text,.yarn__text{
		margin: 0px 5px 40px 5px;
	}
}
@media (max-width: 370px) {
	.specialists,.equipment,.yarn{
		padding: 20px 0px 0px 0px;
	}
}
/*---------------------------------*/
.form {
	margin-top: 85px;
}
.form__text{
	margin-bottom: 0;
}
.form__phone{
	text-align: center;
	margin-top: 0;
	font-size: 25px;
}
.form__phone span:hover{
    text-decoration: underline;
}
.form__phone-img{
	width: 45px;
    margin-bottom: -14px;
}
.form__form{
	margin-top: 35px;
}
label,input,textarea{
    display: block;
}
.form__label{
    margin-top: 10px;
    color: #690EA1;
    font-weight: 600;
    font-size: 22px;
}
.form__input{
	margin: 15px 0px;
	width: 600px;
	color:#10697d ;
	height: 35px;
}
.form__textarea {
	margin: 15px 0px;
	width: 600px;
	min-height: 50px;
	color: #10697d;
	resize: vertical;
	}

.form__submit {
	margin: 15px 0px 35px;
	background: #10697d;
	border-radius: 15px;
	font-size: 20px;
	color: #fff;
	width: 250px;
	height: 50px;
	border: 1px solid #10697d;
	transition: all 0.5s ease 0s;
	}
.form__submit:hover{
	background: #fff;
	color: #10697d;
}
input:placeholder-shown,textarea:placeholder-shown{
	border: 1px solid #000;
}
input::placeholder,textarea::placeholder {
	font-size: 16px;
	color: #10697d;
	font-family: Montserrat;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	font-size: 16px;
	color: #10697d;
	font-family: Montserrat;
}

input::-moz-placeholder,textarea::-moz-placeholder {
	font-size: 16px;
	color: #10697d;
	font-family: Montserrat;
}
input:-moz-placeholder,textarea:-moz-placeholder {
	font-size: 16px;
	color: #10697d;
	font-family: Montserrat;
}

input:-ms-input-placeholder,textarea::-ms-input-placeholder {
	font-size: 16px;
	color: #10697d;
	font-family: Montserrat;
}


@media (max-width: 1028px) {
	.form{
		margin-top: 50px;
	}
}
@media (max-width: 1000px) {
	.form{
		margin-top: 35px;
	}
}
@media (max-width: 800px) {
	.form{
		margin-top: 25px;
	}
}
@media (max-width:640px ) {
	.form__input,.form__textarea{
		width: 400px;
	}
	.form__label,.form__phone{
		font-size: 20px;
		font-weight: 500;
	}
}
@media (max-width: 450px) {
	.form__input,.form__textarea{
		width: 300px;
	}
}
/*---------------------------------*/
.footer{
	background:#10697d ;
	padding: 30px 0px 30px;
	font-size: 18px;
}
.footer__container{
	display: flex;
	justify-content: space-around;
}
.footer__links{
    margin: 15px;
}
.footer__link{
	display: block;
	color: #000;
	margin: 20px 0px 20px 0px;
    transition: all 0.5s ease 0s;
}
.footer__link:hover{
	text-decoration: underline;
}
.footer__phone-img{
	width: 45px;
    display: inline-block;
    margin-bottom: -14px;
}
.footer__post-img{
	width: 45px;
	display: inline-block;
	margin-bottom: -16px;
}
.footer__teleg,.footer__fb{
	width: 45px;
	display: inline-block;
    transition: all 0.5s ease 0s;
}
.footer span:hover{
    text-decoration: underline;
}
.footer__title-contact{
	font-size: 22px;
	font-weight: 500;
	text-decoration: underline;
	margin: 20px 0;
}
.footer__contacts span{
	color: #000;
}
@media (max-width: 500px) {
	.footer__container{
		display: block;
	}
	.footer__title-contact{

	}
}
